<h1>User List</h1>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
      <% @users.each do |user|%>
        <%= user.name %> <%= link_to "詳細","/users/#{user.id}"%><br>
      <%end%>
      </h1>
    </section>
  </aside>
</div>
