/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.form-control{
    margin-bottom:20px;
}
footer{
    text-align:center;
    padding:10px 0px;
    background-color:black;
    color:white;
    position: fixed; 
    width: 100%;
    bottom: 0px;
   
  
    
}

.buttons{
 text-align:right;
 margin-top:-30px;
 
}
.navbar{
    background-color:black;
    position:fixed;
    width: 100%;
    top:0;
    z-index:1;
    
}

.con{
    margin:100px;
}
body{
background-image: url(book-491033_1920.jpg);
background-size: cover;
color:white;
}

.image{
    width: 300px;
    margin: auto;
    display: block;
    margin-bottom:20px;
    padding:30px;
}

.create_btn{
    margin:20px 0  50px 0 ;
    
}

.nav {
    margin-top:-57px;
    
}
.search {
    margin-top:10px;
}
.form-group {
    padding:5px;
    border-radius:5px;
}




