
<div class="image">
 <img src="<%= "#{@note.image}" %>">
</div>  
<div class="row">
    <div class="thumbnail">
      <div class="caption">
        <p><%=simple_format(@note.body)%></p>
      </div>
    </div>
</div>






